<!--Página com as informações gerais do usuário-->
<!--Elas aparecerão na forma de um cartão, cuja estrutura foi obtida na internet-->
{% extends 'base.html' %}

{% block body %}
    <div class="container mt-5 d-flex justify-content-center">
        <div class="card p-3">
            <div class="d-flex align-items-center">                   
                <div class="image pe-2"> <img src= "{{foto_perfil}}" class="rounded" width="200"> </div>
                <div class="ml-3 w-100">
                    <h4 class="mb-0 mt-0">{{ current_user.username }}</h4> <span>{{ current_user.email }}</span>
                    <div class="p-2 mt-2 bg-primary d-flex justify-content-between rounded text-white stats">
                        <!--Mesma lógica do contador de comunidades do arquivo 'usuarios.html'-->
                        {% if current_user.grupos =='' or current_user.grupos =='Não Informado.' %}
                            <!--Contador de Comunidades que o usuário se inscreveu-->
                                <div class="d-flex flex-column"> <span class="articles">Comunidades</span> <span class="number1"> 0 </span> </div>
                            {% else %}
                                <div class="d-flex flex-column"> <span class="articles">Comunidades</span> <span class="number1">{{current_user.grupos.split(';')|length}}</span> </div>
                            {% endif %}
                        <!--Contador de Posts-->
                        <div class="d-flex flex-column"> <span class="rating">Posts</span> <span class="number3">{{current_user.posts | length}}</span> </div>
                    </div>
                    <div class="button mt-2 d-flex flex-row align-items-center"> 
                        <!--Link para a página de edição do perfil-->
                        <a class = 'w-100' href = "{{url_for('editar_perfil')}}">
                        <button class="btn btn-sm btn-outline-primary w-100">Editar Perfil</button>
                    </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!--Esta parte do arquivo mostrará as comunidades em que o usuário está inscrito; mesma lógica do arquivo 'usuarios.html'-->
    <div>
        <div class="row justify-content-center">
            <div class="col col-4" style="text-align:center">
                <h1 style="font-size:30px">Cursos</h1 <br>
                    <hr>
                    {% for grupo in current_user.grupos.split(';') %}
                        {% if current_user.grupos !='' %}
                            {% if current_user.grupos != 'Não Informado.'%}
                            <!--Definindo as configurações estéticas do botão-->
                                <button style="color:white;background-color:#fd7e14" class="btn mt-2 me-1" disabled>{{grupo}}</button>  
                            {% endif %} 
                        {% endif %}
                    {% endfor%}
            </div>
    
        </div>
    
    </div>

    {% block form_editar_perfil %}
    {% endblock %}
{% endblock %}