{% extends 'base.html' %}

{% block body %}
<div style = 'margin-left:25px'>
    <h1>Página de Lembretes</h1>
    <ul style = 'font-size:20px'>
        <li>Continuar a revisão dos HTML's: parei em routes.py na página de cadastro e login.</li>
        <li>Verificar se há <em>(flask)</em> no canto esquerdo da linha de comando</li>
        <li> Para o projeto, utilizar, agora, a pasta Teste em "Python Lira"</li>
        <li>Lembrar de remover o link para esta página ao terminar a revisão no arquivo do navbar</li>
    </ul>

{% endblock %}    
